.profile-img{
    max-height: 700px;
}

.work-thumb{
    /* height: 300px;
    width: 480px; */
}

.owl-stage-outer{
    display: block;
    width: 80vw;
    margin: 0 auto;
}

.icon-menu{
    font-size: 2.5rem !important;
}

/* --- work --- */
.work-img{
    border: 1px solid #000;
}

#work-card{
    padding-bottom: 30px;
}

.work-text > h3{
    color:#21e742 !important;
}

.work-text > span {
    font-style: italic;
}